/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}
/* || UTILITY CLASSES */
.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.center {
  text-align: center;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* || CARDS */
section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  padding: 1rem;
  background: none;
}

.card {
  width: min(100%, 400px);
  height: 55vh;
  margin-top: 10vh;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform-style: preserve-3d;
  transition: all 1.5s ease;
}

.card figure {
  display: flex;
  width: 4rem;
  backface-visibility: hidden;
}

.card fieldset {
  display: flex;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.card:hover {
  transform: rotateY(180deg);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px #0000003c;
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  color: #000;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  transform: rotateY(180deg);
}

.data__filedset{
  border: none;
}

.data__p{
  margin: 1rem 0;
}

.data__label{
  display: block;
  font-weight: bold;
}

.data__input,.data__textarea{
  padding: 0.5rem;
  border-radius: 5px;
  border-width: 2px;
  width: 100%;
}

/* .myH1 {
  background-color: greenyellow;
  font-size: 2rem;
  margin-bottom: 1rem;
  min-width: 100vw;
  width: 100vw;
  display: block;
} */
